@import 'foundation/scss/normalize';
@import 'foundation';
@import 'skipper';

#coral-client {
  > .bar {
    background: #282E3A;
    padding-bottom: .2rem;

    .icon-bar {
      background: transparent;

      > * {
        padding: .5rem;

        &:hover {
          background: transparent;
          padding-bottom: .2rem;
          border-bottom: .3rem solid #008cba;
        }

        i {
          font-size: 1.4rem;
        }

        label {
          font-size: .6rem;
        }
      }
    }

    .f-dropdown {
      margin-left: 2rem;
      border-style: none;
      border-radius: .3rem;
      color: white;
      padding: 0;
      box-shadow: 0 0 .5rem .2rem rgba(0, 0, 0, .3);

      & > form > section,
      & > section {
        padding: 1rem;

        &.header {
          padding-bottom: .5rem;

          h2 {
            color: #555;
            font-size: 120%;
          }
        }

        &.body {
          background: #f5f5f5;
          border-top: 1px solid #ccc;
        }

        &.footer {
          border-top: 1px solid #ccc;

          li:hover {
            background: transparent;
          }
        }
      }

      h3 {
        font-size: 85%;
        color: #555;
        font-weight: bold;
        margin-bottom: 1rem;
      }

      input[type=text] {
        background: #e5e5e5;
        color: #222;
        border-color: #ccc;
        margin: 0;
        box-shadow: none;
      }

      .postfix {
        background: #ccc;
        margin-bottom: 0;
        border-style: none;
        color: white;

        i {
          color: #555;
        }

        &:hover {
          background: #aaa;

          i {
            color: #000;
          }
        }
      }

      form {
        fieldset {
          border-style: none;
          padding: 1rem 0;
          border-top: 1px solid #ccc;

          legend {
            background: transparent;
            color: #888;
            font-weight: normal;
            font-size: 85%;
          }

          label {
            color: #555;
            font-size: 85%;

            input[type=text] {
              margin-top: .3rem;
            }
          }

          textarea,
          select {
            background-color: #e5e5e5;
            color: #222;
            border: 1px solid #ccc;
            box-shadow: none;
          }

          textarea {
            height: 5rem;
          }

          .textarea.postfix {
            height: 5rem;
            line-height: 5rem;
            vertical-align: middle;
          }

          & > label input[type=text] {
            margin-bottom: 1rem;
          }
        }
      }

      &#dropdown-gallery {
        .upload {
          background: #e5e5e5;
          border: 2px dotted #ccc;
          text-align: center;
          color: #888;
          font-weight: bold;
          text-transform: lowercase;
          font-size: 85%;
          border-radius: 5px;
          padding: 3em 0 2em 0;
          vertical-align: middle;
          position: relative;
          overflow: hidden;
          margin-bottom: 1rem;

          &:hover {
            color: #555;
            border-color: #aaa;
          }

          i {
            font-size: 3em;
            color: inherit;
          }

          input {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            font-size: 20px;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
          }
        }

        .recent {
          padding-top: 1rem;

          a {
            width: 6rem;
            height: 6rem;
            background-size: cover;
            display: inline-block;
            border-radius: 3rem;
            overflow: hidden;
            margin: 0 1rem 1rem 0;
            border: 1px solid white;
            box-shadow: 0;
            transition: box-shadow .5s;
            text-indent: -3000px;

            &:hover {
              box-shadow: inset 0 0 .3rem .2rem #ccc;
            }
          }
        }
      }

      &#dropdown-sitemap {
        ul.coral-tree {
          &,
          ul,
          li {
            padding: 0;
            margin: 0;
            list-style: none;
            background: transparent;
          }

          ul {
            margin-left: 2rem;
          }

          li {
            &.dragged {
              position: absolute;
              opacity: 0.5;
              z-index: 9000;
              background: transparent !important;

              a {
                padding: 0 !important;
                background: transparent !important;
              }
            }

            &.placeholder {
              position: relative;
              margin: 0;
              padding: 0;
              border: 1px dashed #aaa;
              height: 1em;
              background: transparent !important;
            }
          }

          a {
            display: inline-block;
            position: relative;
            height: 2.5rem;
            line-height: 2.5rem;
            vertical-align: middle;
            color: #888;
            cursor: default !important;
            font-size: 100%;
            border: 1px dotted #ccc;
            border-radius: .3rem;
            padding: 0 1rem;
            margin: 0 0 .3rem 0;
            transition: color .3s;
            cursor: move !important;
            width: 18rem;

            sup {
              font-size: .5rem;
              background: #c00;
              text-align: center;
              line-height: .8rem;
              width: .8rem;
              height: .8rem;
              border-radius: .4rem;
              display: inline-block;
              left: -.3rem;
              position: relative;
              top: -.6rem;
              color: white;
            }

            &::before {
              content: '';
              display: block;
              position: absolute;
              right: 1rem;
              top: 50%;
              width: 0;
              height: 0;
              border-style: solid;
              // border-width: .2rem 0 .2rem .4rem;
              border-width: .4rem .2rem 0 .2rem;
              // border-color: transparent transparent transparent #888;
              border-color: #888 transparent transparent transparent;
              margin-top: -.2rem;
            }

            &:only-child::before {
              display: none;
            }

            input {
              display: inline-block;
              height: 1.8rem;
              width: 11.5rem;
              border-style: none;
              border-radius: .3rem;
              background: #e5e5e5;
              margin-top: -.2rem;
            }

            i {
              font-size: 1rem;
              font-weight: normal;
              opacity: 0;
              transition: opacity .3s;
              color: black;
            }

            i.fi-list {
              display: none;
            }
            i.fi-x,
            i.fi-page-add,
            i.fi-indent-more {
              cursor: pointer !important;
              float: right;
              margin-left: 1rem;
            }

            i:last-child {
              margin-left: 0;
            }

            &.active {
              padding-left: .5rem;

              &::before {
                display: none;
              }

              i {
                opacity: 1;
              }
            }

            &:hover,
            &:focus {
              color: black;

              &::before {
                display: none;
              }

              i {
                opacity: 1;
              }
            }
          }

          //root
          & > li > a::before {
            display: none;
          }
        }
      }
    }

    label.search {
      margin-top: .5rem;

      i {
        font-size: 1.5rem;
        color: white;
        margin-right: 1rem;
        color: rgba(255, 255, 255, .2);
        vertical-align: middle;
      }

      input {
        display: inline-block;
        background: transparent;
        border: 1px solid rgba(255, 255, 255, .2);
        border-radius: .3rem;
        width: 80%;
        vertical-align: middle;
        color: rgba(255, 255, 255, .7);
        font-weight: bold;
        font-size: .9rem;
        margin: 0;
      }
    }
  }
}
