// @import "compass/css3";
// @import "compass/css3/transform-legacy";

$default-margin: 2rem;

html {
  min-width: 1020px;  /*turn off responsive*/
}

html, body {
  color: #494949;
}

p, h1, h2, h3, h4, h5, ul, li, a, td, th, quote {
  font-family: 'Titillium Web', sans-serif;
}

#main {

  h1, h2, h3 {
    color: #1aaec0;
  }

  h1, h2, h3, h4 {
    /* fix for missing font antialiasing in chrome*/
    -webkit-text-stroke: 0.4px #1aaec0;
    -webkit-font-smoothing: antialiased;
  }

  a {
    color: #1aaec0;

    &:hover {
      color: #e60d26;
    }
  }

  .row {
    max-width: 66rem;
  }

  a.button {
    background: #06bdd7;
    color: white !important;

    &:hover {
      color: white !important;
      background: #378cce;
    }

    &:before {
      border-top-color: white !important;
    }
  }

  a.gradient-button {
    text-transform: uppercase;
    font-size: 116%;
    padding: .5em 3em;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fb4204), color-stop(1, #e4072a));
    background-image: -o-linear-gradient(bottom, #fb4204 0%, #e4072a 100%);
    background-image: -moz-linear-gradient(bottom, #fb4204 0%, #e4072a 100%);
    background-image: -webkit-linear-gradient(bottom, #fb4204 0%, #e4072a 100%);
    background-image: -ms-linear-gradient(bottom, #fb4204 0%, #e4072a 100%);
    background-image: linear-gradient(to bottom, #fb4204 0%, #e4072a 100%);

    &:hover {
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #eb3204), color-stop(1, #d4001a));
      background-image: -o-linear-gradient(bottom, #eb3204 0%, #d4001a 100%);
      background-image: -moz-linear-gradient(bottom, #eb3204 0%, #d4001a 100%);
      background-image: -webkit-linear-gradient(bottom, #eb3204 0%, #d4001a 100%);
      background-image: -ms-linear-gradient(bottom, #eb3204 0%, #d4001a 100%);
      background-image: linear-gradient(to bottom, #eb3204 0%, #d4001a 100%);
    }
  }

  span.arrow-right,
  span.arrow-left,
  span.black-arrow-right
  {
    position: relative;
    text-align: left;
    vertical-align: middle;
    z-index: 99;
    width: 8px;
    height: 11px;
    left: -10px;
    top: -2px;

    background: transparent url('/images/sprites.png') no-repeat;

    &:before, &:after {
      content: '';
      position: absolute;
      background-color: inherit;
    }

    &, &:before, &:after {
      display: inline-block !important;
    }
  }

  span.black-arrow-right {
    background-position: -50px -260px;
  }

  span.arrow-right {
    background-position: -20px -260px;
  }

  span.arrow-left {
   background-position: 0 -260px;
  }


  span.framework-logo {
    text-align: left;
    text-decoration: none;
    text-indent: -3000px;
    overflow: hidden;
    display: inline-block;
    background: transparent url('/images/sprites.png') no-repeat;

    &.doctrine {
      background-position: -170px 0;
      width: 156px;
      height: 35px;
    }

    &.doctrine2 {
      background-position: -326px 0;
      width: 156px;
      height: 35px;
    }

    &.ruby {
      background-position: -482px 0;
      width: 156px;
      height: 35px;
    }

    &.symfony {
      background-position: -638px 0;
      width: 156px;
      height: 35px;
    }

    &.symfony2 {
      background-position: -638px -40px;
      width: 156px;
      height: 35px;
    }

    &.propel {
      background-position: -482px -40px;
      width: 156px;
      height: 35px;
    }

    &.cakephp {
      background-position: -327px -40px;
      width: 156px;
      height: 35px;
    }

    &.hibernate {
      background-position: -170px -40px;
      width: 156px;
      height: 35px;
    }

    &.zend {
      background-position: -794px 0;
      width: 156px;
      height: 35px;
    }
  }

  .hexagon {
    overflow: hidden;
    display: inline-block;
    width: 20em;
    height: 17.32em;
    -webkit-transform: rotate(-30deg) skewX(30deg);
    -moz-transform: rotate(-30deg) skewX(30deg);
    -o-transform: rotate(-30deg) skewX(30deg);
    transform: rotate(-30deg) skewX(30deg);
    border-radius: .5em;

    *, *:before {
      display: block;
      overflow: hidden;
      width: inherit;
      height: inherit;
      border-radius: inherit;
    }

    & > div > div:before, & > div > div {
      -webkit-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      -moz-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      -o-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      content: '';
    }

    & > div {
      -webkit-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      -moz-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      -o-transform: skewX(-30deg) rotate(60deg) skewX(30deg);
      transform: skewX(-30deg) rotate(60deg) skewX(30deg);

      & > div {
        border-radius: inherit;

        &:before {
          margin-top: -1.5em;
          height: 20em;
          -webkit-transform: skewX(-30deg) rotate(-90deg);
          -moz-transform: skewX(-30deg) rotate(-90deg);
          -o-transform: skewX(-30deg) rotate(-90deg);
          transform: skewX(-30deg) rotate(-90deg);
          line-height: 20em;
          text-align: center;
          content: '';
          background-size: cover;
        }
      }
    }
  }

  .fluidbox {
    outline: none;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
  }
  a.fluidbox.fluidbox-opened {
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
  }
  .fluidbox-overlay {
    cursor: pointer;
    cursor: -webkit-zoom-out;
    cursor: -moz-zoom-out;
    opacity: 0;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    transition: all .25s ease-in-out;
  }
  .fluidbox-wrap {
    background-position: center center;
    background-size: cover;
    display: inline-block;
    margin: 0 auto;
    position: relative;
    transition: all .25s ease-in-out;
  }
  .fluidbox-ghost {
    background-size: cover;
    background-position: center center;
    position: absolute;
    transition: all .25s ease-in-out;
  }
  .fluidbox-closed .fluidbox-ghost {
    -webkit-transition-property: top, left, opacity, -webkit-transform;
    -moz-transition-property: top, left, opacity, -moz-transform;
    -o-transition-property: top, left, opacity, -o-transform;
    transition-property: top, left, opacity, transform;
    transition-delay: 0, 0, .25s, 0;
  }
  .fluidbox-closed .fluidbox-wrap img {
    transition-property: opacity;
    transition-delay: .25s;
    transition-duration: 0s;
  }

  .a18-header, .skipper-header {
    background: #545454;
    text-align: right;

    ul {
      display: inline-block;
      margin: 0;
      padding: 0;

      li {
        position: relative;
        display: inline-block;
        list-style: none;
        padding: .3rem 0 .3rem 3rem;
        margin: 0;

        a {
          color: white;
          font-size: 85%;

          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }

  .skipper-header {
    padding: $default-margin 0 0 0;
    background: transparent;

    .large-2 {
      text-align: left;

      a.home {
        background: transparent url('/images/sprites.png') no-repeat;
        display: inline-block;
        text-decoration: none;
        text-indent: -3000px;
        overflow: hidden;
        width: 165px;
        height: 47px;
      }
    }

    .columns > ul {
      margin-top: -.5rem;

      > li {
        padding: 0;

        > a, > .top-menu  {
          color: #545454;
          text-transform: uppercase;
          padding: 0 1rem;
          text-decoration: none;
          display: block;
          font-size: 100%;
          height: 70px;

          span.arrow-right {
            display: none !important;
          }

          &.button {
            margin: 0 0 0 2rem;
            position: relative;
            top: .5em;
            padding: .4rem 2rem;
            vertical-align: bottom;
            font-size: 85%;
            height: auto;

            &:hover {
              text-decoration: none;
            }
          }

          &:hover {
            text-decoration: underline;
          }
        }

        &.has_children:hover {
          > a, >.top-menu {
            background: #757575;
            color: white;
            text-decoration: none;
          }

          ul {
            display: block;
          }
        }

        &.active {
          > a {
            font-weight: bold;
          }
        }

        ul {
          position: absolute;
          display: none;
          z-index: 99;
          background: #545454;
          left: 0;
          top: 70px;
          border-top: 1px solid #1aaec0;
          padding: 1em 0;

          li {
            padding: 0;
            display: block;
            text-align: left;
            line-height: 120%;

            a {
              color: white;
              display: block;
              padding: .5em 2em .5em 1em;
              width: 20em;
              text-decoration: none;

              span.arrow-right {
                background: none;
              }

              &:hover {
                color: #1aaec0;
                text-decoration: none !important;

                span.arrow-right {
                  background: transparent url('/images/sprites.png') no-repeat;
                  background-position: -60px -260px;
                  left: -5px;
                }
              }
            }

            &.active > a {
              text-decoration: underline;
            }
          }
        }
      }
    }
  }

  .banner {
    background: #378cce url('/images/banner_os_osx.jpg') no-repeat center top;
    height: 551px;

    .large-12 {
      height: 551px;
      position: relative;
    }

    h1 {
      color: white;
      margin: $default-margin 0;
      line-height: 100%;
      -webkit-text-stroke: 1px #378cce;
      font-size: 3.6rem;
    }

    ul {
      list-style: none;
      margin-left: 0;
      margin-bottom: 3rem;
      padding-left: 2rem;
      text-indent: -2rem;

      li {
        color: white;
        font-size: 130%;
        margin-bottom: .5em;
        -webkit-text-stroke: .3px #378cce;
        -webkit-font-smoothing: antialiased;
      }
    }

    .screenshot-link {
      position: absolute;
      left: 840px;
      bottom: 50px;
      color: #545454;

      a {
        text-decoration: underline;
      }
    }

    .supported-os {
      position: absolute;
      bottom: 90px;
      left: 0.9375rem;
      font-size: 93%;
      color: white;

      span {
        display: inline-block;
        width: 16px;
        height: 18px;
        overflow: hidden;
        text-indent: -3000px;
        vertical-align: text-bottom;
        background: transparent url('/images/sprites.png') no-repeat;
        margin-left: .5rem;

        &.mac {
          background-position: 0 -51px;
        }

        &.win {
          background-position: -21px -51px;
        }

        &.lin {
          background-position: -40px -51px;
        }
      }
    }
  }
  .banner.mac {
    background-image: url('/images/banner_os_osx.jpg');
  }
  .banner.windows {
    background-image: url('/images/banner_os_win.jpg');
  }
  .banner.linux {
    background-image: url('/images/banner_os_lin.jpg');
  }

  .frameworks {
    padding-bottom: 1rem;

    h1 {
      text-align: center;
      margin-top: $default-margin;
    }

    .columns {
      text-align: center;
      padding-bottom: 0rem;
      padding-top: .7rem;

      a {
        text-align: left;
        text-decoration: none;
        text-indent: -3000px;
        overflow: hidden;
        display: inline-block;
        background: transparent url('/images/sprites.png') no-repeat;

        &.doctrine {
          background-position: -170px 0;
          width: 156px;
          height: 35px;
        }

        &.doctrine2 {
          background-position: -326px 0;
          width: 156px;
          height: 35px;
        }

        &.ruby {
          background-position: -482px 0;
          width: 156px;
          height: 35px;
        }

        &.symfony {
          background-position: -638px 0;
          width: 156px;
          height: 35px;
        }

        &.symfony2 {
          background-position: -638px -40px;
          width: 156px;
          height: 35px;
        }

        &.propel {
          background-position: -482px -40px;
          width: 156px;
          height: 35px;
        }

        &.cakephp {
          background-position: -327px -40px;
          width: 156px;
          height: 35px;
        }

        &.hibernate {
          background-position: -170px -40px;
          width: 156px;
          height: 35px;
        }

        &.zend {
          background-position: -794px 0;
          width: 156px;
          height: 35px;
        }
      }
    }
  }

  .explanation,
  .download,
  .homepage-features,
  .testimonies,
  .testimonies-list,
  .framework-features,
  .framework-highlights,
  .features-header,
  .story-header,
  .download-table,
  .changelog,
  .download-header,
  .video-header,
  .video-list {
    padding: $default-margin 0;

    h1 {
      text-align: center;
      margin-bottom: $default-margin;
    }

    h2 {
      text-align: center;
      margin-bottom: $default-margin;
    }

    h3 {
      color: #545454;
      -webkit-text-stroke: 0.4px #666;
      text-align: center;
      font-size: 120%;
    }
  }

  .explanation, .story-header {
    background: #f7f7f8;
  }

  .explanation.explanation-frameworks,
  .features-header,
  .testimonies,
  .pricing-header {
    /*
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, #267dc1), color-stop(1, #00b8d4));
    background-image: -o-linear-gradient(right, #267dc1 0%, #00b8d4 100%);
    background-image: -moz-linear-gradient(right, #267dc1 0%, #00b8d4 100%);
    background-image: -webkit-linear-gradient(right, #267dc1 0%, #00b8d4 100%);
    background-image: -ms-linear-gradient(right, #267dc1 0%, #00b8d4 100%);
    background-image: linear-gradient(to right, #267dc1 0%, #00b8d4 100%);
    */
    background: #2f7dc1; /* Old browsers */
    background: -moz-linear-gradient(45deg,  #2f7dc1 45%, #2f7dc1 45%, #00b7d5 74%, #28bdbd 99%); /* FF3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(45%,#2f7dc1), color-stop(45%,#2f7dc1), color-stop(74%,#00b7d5), color-stop(99%,#28bdbd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(45deg,  #2f7dc1 45%,#2f7dc1 45%,#00b7d5 74%,#28bdbd 99%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(45deg,  #2f7dc1 45%,#2f7dc1 45%,#00b7d5 74%,#28bdbd 99%); /* Opera 11.10+ */
    background: -ms-linear-gradient(45deg,  #2f7dc1 45%,#2f7dc1 45%,#00b7d5 74%,#28bdbd 99%); /* IE10+ */
    background: linear-gradient(45deg,  #2f7dc1 45%,#2f7dc1 45%,#00b7d5 74%,#28bdbd 99%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2f7dc1', endColorstr='#28bdbd',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

    color: white;
  }

  .explanation {
    h2 {
      margin-bottom: 0;
    }

    p {
     -webkit-text-stroke: 0.4px #666;
    }

    .columns > ul {
      margin: $default-margin 0 .5em 0;
      width: 410px;
      float: right;
      display: block;

      li {
        list-style: none;
        display: inline-block;
        padding: .1em 1em;
        margin-right: .5em;
        background: #06bdd7;
        border-radius: 3px;
        font-size: 93%;
        color: white;

        &:hover {
          text-decoration: underline;
          cursor: pointer;
        }

        &.active {
          background: #545454;
        }
      }
    }

    .slider {
      height: 281px;
      width: 410px;
      overflow: hidden; /*tady se musi schovat i y-scroll, jinak ho to pri borderu ukazuje*/
      float: right;
      clear: both;
      border: 1px solid #C2C2C2;

      > div {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;

        width: 1230px;
        height: inherit;

        pre, img {
          display: block;
          float: left;
        }
      }
    }

    .row .columns:first-child {
      ul {
        float: none;
      }

      p {
        float: left;
      }

      .slider {
        float: left;
      }
    }

    .row:last-child {
      position: relative;
      z-index: 2;

      .circle-arrow {
        position: absolute;
        top: 10em;
        left: 2.5em;
        width: 105px;
        height: 80px;
        background: transparent url('/images/sprites.png') no-repeat;
        background-position: 0 -80px;
      }
    }

    pre {
      background: #545454;
      height: 281px;
      overflow-y: auto;
      overflow-x: hidden;
      width: 410px;

      code {
        color: #eee;
        line-height: 120%;
        font-size: 93%;
        white-space: pre;

        span {
          color: #eee;
          display: inline-block;
          width: 3em;
          text-align: right;
          padding-right: .5em;
          background: #757575;
          border-top: 0.01em solid #757575  /*IE fix, jinak to pod osmym radkem kresli 1px divnou linku. a jeste to zlobi v linuxu v firefoxu*/
        }
      }
    }

    p {
      display: block;
      clear: both;
      width: 410px;
      float: right;
      margin-top: .5em;
      text-align: center;
      color: #545454;
      font-size: 120%;
    }
  }

  .explanation.explanation-frameworks {
    h1, h2, h3 {
      color: white;
    }

    h1 {
      margin-bottom: .3em;
    }

    h2 {
      font-size: 140%;
      margin-bottom: 0;
    }

    p {
      -webkit-text-stroke: .4px #EEE;
    }

    .columns > ul {
      li {
        background: #e4e4e4;
        color: #575555;

        &.active {
          background: #575555;
          color: #e4e4e4;
        }
      }
    }

    .row:last-child .circle-arrow {
      background-position: -450px -80px;
    }

    pre {
      background: #575656;
    }

    p {
      color: white;
    }
  }

  .features-header {
    text-align: center;

    h1, h2, h3 {
      color: white;
    }

    h1 {
      text-align: center;
      margin-bottom: .3em;
    }

    h2 {
      font-size: 140%;
      margin-bottom: 0;
      text-align: center;
      font-weight: normal;
    }

    hr {
      border-style: none;
      background: transparent;
    }

    * img:nth-child(odd) {
      float: right;
      margin-left: $default-margin;
    }

    * img:nth-child(even) {
      float: left;
      margin-right: $default-margin;
    }

    p {
      color: white;
      font-weight: normal;
      font-size: 100%;
      max-width: 30em;
    }

    .row .row {
      padding-top: $default-margin;
    }

    > img {
      margin: 0 auto;
    }
  }

  .story-header {
    text-align: center;

    h1 {
      max-width: 60rem;
      margin-left: auto;
      margin-right: auto;
    }

    .columns {
      text-align: left;

      h2 {
        font-size: 140%;
        color: #545454;
        -webkit-text-stroke: 0.4px #444;
        margin: $default-margin 0 .5em 0;
        text-align: left;
      }

      ul {
        margin-left: 0;

        li {
          list-style: none;
        }
      }
    }
  }

  .framework-features,
  .framework-highlights {
    h3 {
      font-size: 140%;
      color: #1aaec0;
      text-align: left;
      -webkit-text-stroke: 0.4px #1aaec0;
    }

    h1 {
      margin-bottom: 1rem;
    }

    h2 {
      margin-bottom: 1rem;
    }

    .large-12 > p {
      text-align: right;
    }

    .row {
      padding-top: $default-margin;
    }
  }

  .framework-features {
    img {
      border: 1px solid #C2C2C2
    }
  }

  .download-header,
  .video-header {
    background: #f7f7f8;
    text-align: center;

    h1, .button {
      margin-bottom: .5rem;
    }

    h1 + p {
      margin-bottom: $default-margin;
    }

    p strong {
      font-size: 140%;
      font-weight: normal;
    }
  }

  .download-table {
    padding-bottom: 0;

    table {
      width: 100%;
      border-color: white;
      margin: 0;

      thead th {
        background: #1baec0;
        color: white;
        border-right: 1px solid white;
      }

      tbody td {
        border-right: 1px solid white;

        span {
          color: #7bbd47;
          font-weight: bold;
          text-decoration: underline;
          font-size: 130%;
        }

        a {
          color: #1baec0;
          text-decoration: underline;

          &:hover {
            color: #545454;
          }
        }
      }
    }
  }

  .changelog {
    padding-top: 0;

  }

  .video-header {
  }

  .video-list {
    .row {
      margin-bottom: 2rem;
    }

    h3 {
      text-align: left;
      font-size: 150%;
    }
  }

  .pricing-header {
    padding: 2rem;

    .row {
      padding-left: 4rem;
      padding-right: 4rem;
    }

    .price-item {
      background-color: white;
      margin-top: 1rem;
      margin-bottom: 1rem;
      margin-right: 2rem;
      margin-left: 2rem;
      padding: 0.5rem;
    }

    p {
      color: #545454;
      -webkit-text-stroke: .4px #666;
      text-align: left;
      margin-top: 0px;
      margin-bottom: 0px;
    }

    h1 {
      text-align:center;
      color:white;
    }

    h4 {
      font-size: 200%;
      text-align: right;
    }

    .button {
      margin: 0.6rem 0 0 0;
      padding: 0.3rem;
      width: 100%
    }

    .other {
      background-color: #2282C2;
      background-image: none;

      &:hover {
        background-image: none;
        background-color: #082e63;
      }
    }
  }

  .error-404 {
    text-align: center;
    background: #267dc1 url('/images/404.png') no-repeat top center;
    height: 826px;
    color: white;
    position: relative;

    h1 {
      color: white;
      padding: $default-margin 0 0 0;
      margin: 0;
    }

    p {
      font-size: 105%;
      color: #FFF;
    }

    h2 {
      display: block;
      position: absolute;
      bottom: $default-margin;
      left: 50%;
      margin-left: -3.6em;
      color: white;

      a {
        color: white;
        text-decoration: underline;
      }
    }
  }

  .payment-methods {
    margin: 2rem 8rem 2rem 8rem;

    h1 {
      text-align: center;
      margin-top: $default-margin;
    }

    .row {
      text-align: center;
    }


    .payment {
      text-align: left;
      text-decoration: none;
      text-indent: -3000px;
      overflow: hidden;
      display: inline-block;
      background: transparent url('/images/sprites.png') no-repeat;
      width: 220px;
      height: 47px;

      &.money-back {
        background-position: -0px -290px;
        width: 215px;
      }

      &.braintree {
        background-position: -220px -290px;
        width: 203px;
      }

      &.paypal {
        background-position: -440px -290px;
        width: 170px;
      }
    }
  }

  .roi-calculator {
    margin-left:2.5rem;
    margin-right:2.5rem;
    -webkit-text-stroke: 0.4px #666;

    h1 {
      text-align: center;
      margin-bottom: 2rem;
    }
  }

  .discounts {
    h1 {
      text-align:center;
      margin-bottom: 2rem;
    }

    h2 {
      color: #545454;
      -webkit-text-stroke: 0.4px #666;
      font-size: 170%;
      margin-bottom: 1rem;
    }

    .price {
      color: #1aaec0;
      -webkit-text-stroke: 0.4px #1aaec0;
      font-size: 250%;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }

    .info {
      font-weight: bold;
      font-size: 80%;
      margin-top: 0.5rem;
      margin-left: 0.5rem;
    }

    p {
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .small {
      font-size: 90%
    }
  }

  .roi-calculators {
    h1 {
      text-align:center;
    }
  }

  .roi-calculator {
    border: 1px solid #E2E2E2;
    background-color: #F5F5F5;
    padding: 1rem;

    p {
      line-height: 1;
      margin-bottom: 0.3rem;
    }

    .photo {
      padding-left: 0.5rem;
      margin-bottom: 1rem;
      p {
        line-height: 1.3;
        margin-top: 1.5rem;
        font-size: 120%;
      }
    }

    .introduction {
      padding-left: 0.5rem;
      p {
        line-height: 1.4;
      }
      ul {
        margin-bottom: 0;
      }
      li {
        list-style-type: none;
        line-height: 1.3;
      }
      .columns:first-child {
        text-align: right;
        padding-right: 0;
      }
      .columns:last-child {
        text-align: left;
        padding-left: 0;
      }
    }

    .summary {
      background-color: #636363;
      color: white;
      line-height: 1;
      padding: 0.3rem;

      .columns:first-child {
        text-align: right;
        padding-right: 0;

        p {
          font-size: 3rem;
          margin: 0;
        }
      }

      .columns:last-child {
        text-align: left;
        margin-top: .4rem;
        p {
          font-size: 1rem;
        }
      }
    }

    .underline, .notice {
      p {
        margin-bottom: 0;
        margin-top: 0.5rem;
      }
    }

    .notice p {
      font-size: 80%;
      font-style:italic;
      margin-top: 1rem;
    }

    h1,h2,h3 {
      text-align: center;
      margin-top: 1rem;
    }

    h4 {
      font-size: 110%;
      margin-top: 1rem;
    }

    hr {
      border-color: #D4D4D4;
      margin-top: 1rem;
      margin-bottom: 0rem;
    }

    .faces {
      text-align: left;
      text-decoration: none;
      text-indent: -3000px;
      overflow: hidden;
      display: inline-block;
      background: transparent url('/images/sprites.png') no-repeat;
      width: 82px;
      height: 93px;

      &.first {
        background-position: -641px -90px;
      }

      &.second {
        background-position: -727px -90px;
      }
    }
  }

  .image-with-border {
    border: 1px solid #C2C2C2
  }

  .contact-header {
    background: #f7f7f8;

    #map-canvas {
      width: 100%;
      height: 375px;

      img {
        max-width: none!important;
        background: none!important
      }
    }
  }

  .contact {
     padding-top: $default-margin;
    padding-bottom: $default-margin;

    h2 {
        text-align: center;
    }

    & > .row {
        margin-top: $default-margin;
    }

    .large-4 {
        address {
            white-space: pre;
            line-height: 120%;
            margin-top: 0;
        }

        hr {
            max-width: 3rem;
            text-align: left;
            margin-left: 0;
            margin-right: 0;
        }

        p {
            margin: 0;
            line-height: 120%;
        }
    }

    label {
        display: none;
    }

    label + ul {
      list-style: none;
      margin: 0;
      padding: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        color: red;
        font-weight: bold;
      }
    }

    form textarea {
        height: 10rem;
    }

    form textarea,
    form input[type=text],
    form input[type=email] {
        background: #f7f7f8;
        border-radius: .3rem;
        border-style: none;
        -webkit-box-shadow: none;
        box-shadow: none;
    }

    form .large-4 {
        text-align: right;

        button {
            padding: .6rem 2rem;
            text-transform: uppercase;
            color: white;
            font-weight: bold;
            border-radius: .3rem;
            background: #06bdd7;

            &:hover {
                color: white;
                background: #378cce;
            }
        }
    }
  }

  .user-story {
    margin-top: $default-margin;

    h2, h3 {
      font-weight: normal;
    }

    h2 {
      font-size: 140%;
      margin: 0 0;
    }

    h2 + p {
      margin-top: 1em;
    }

    span.framework-logo {
      display: block;
    }
  }

  .stories-list {
    margin-top: $default-margin;
    margin-bottom: $default-margin;

    h1 {
      text-align: center;
      padding-bottom: $default-margin;
    }

    h2, h3 {
      font-weight: normal;
    }

    h2 {
      font-size: 160%;
      color: #545454;
      -webkit-text-stroke: .4px #444;
      margin: 0 0;
    }

    p {
      margin-bottom:0;
    }

    quote {
      display: block;
      font-style: italic;
      font-size: 120%;
      font-weight: bold;
      line-height: 150%;
      color: #198fb2;
      margin-top: $default-margin;
      margin-bottom: $default-margin;
    }

    img.logo {
      float: right;
      max-height: 60px;
    }
  }

  .reviews {
    margin-top: $default-margin;
    margin-bottom: $default-margin;

    h1 {
      text-align: center;
      padding-bottom: $default-margin;
    }

    h2, h3, h4 {
      font-weight: normal;
      color: #545454;
      -webkit-text-stroke: .4px #444;
    }

    h2 {
      font-size: 130%;
      margin: 0 0;
    }

    h3 {
      font-size: 100%;
      margin: 0 0;
    }

    p {
      margin-bottom:0;
    }

    .date {
      font-size: 90%;
    }

    .author {
      font-size: 90%;
      font-style: italic;
      margin-bottom: 0.6rem;
    }

    ul {
      margin-left: 0;
    }

    li {
      list-style-type: none;
    }

    img {
      border: 1px solid #c2c2c2;
    }

    .reviews-more {
      margin-top: 2rem;

      li {
        font-size: 90%;
      }

      .row {
        padding-bottom: 0.5rem
      }
    }
  }

  .download {
    text-align: center;
    padding-bottom: 0;

    .row {
      padding-bottom: 0; /*$default-margin;*/
    }

    h2 {
      margin-bottom: 0;
    }

    h3 {
      margin-bottom: $default-margin;
    }

    .large-8 {
      h2, h3 {
        text-align: right;
      }
    }

    .large-4 {
      text-align: left;
      padding-top: 1.2em;

      a {
        text-align: center;
      }
    }
  }

  hr {
    border-color: #f2f2f2;
    margin: 2rem auto;
    text-align: center;
    max-width: 60em;
  }

  .homepage-features {
    text-align: center;

    h2 {
      margin-bottom: $default-margin;
    }

    h3 {
      -webkit-text-stroke: .4px #1aaec0;
    }

    > p a {
      text-decoration: underline;
    }

    .icon {
      display: inline-block;
      overflow: hidden;
      width: 72px;
      height: 72px;
      background: transparent url('/images/sprites.png') no-repeat;
      background-position: -110px -80px;
      margin-bottom: 1em;
    }

    .icon.time {
      margin: 7px 0 6px 0;
    }

    .icon.logic {
      width: 89px;
      height: 85px;
      background-position: -190px -80px;
    }

    .icon.knowledge {
      width: 80px;
      height: 80px;
      margin: 2px 0 3px 0;
      background-position: -370px -80px;
    }

    .icon.customizability {
      width: 86px;
      height: 82px;
      margin: 1px 0 2px 0;
      background-position: -280px -80px;
    }

    .row {
      margin-bottom: $default-margin;
    }

    .columns {
      h3 {
        color: #1aaec0;
        font-size: 180%;
        margin-bottom: 1rem;
      }

      p {
        font-size: 120%;
        -webkit-text-stroke: .4px #666;
      }
    }
  }

  .testimonies,
  .testimonies-list {
    text-align: center;

    h1 {
      color: white;
      margin-bottom: 0;

      & + p {
        margin-bottom: $default-margin;
      }
    }

    h2 {
      color: white;
      margin-bottom: $default-margin;
    }

    .testimony-header,
    .testimony-slider {
      position: relative;

      > div {
        overflow-x: hidden;

        > p {
          text-align: right;

          a {
            color: white;
            text-decoration: underline;
          }
        }
      }

      > div > div {
        -webkit-transition: all .5s ease-in-out;
        -moz-transition: all .5s ease-in-out;
        -o-transition: all .5s ease-in-out;
        transition: all .5s ease-in-out;
      }

      span.shift-prev,
      span.shift-next {
        display: block;
        position: absolute;
        z-index: 99;
        width: 16px;
        height: 11px;
        top: 64px;
        background: transparent url('/images/sprites.png') no-repeat;
        background-position: 0 -260px;
        cursor: pointer;
      }
      span.shift-prev {
        left: 0;
      }
      span.shift-next {
        right: 0;
        background-position: -20px -260px;
      }

      .columns {
        margin-top: $default-margin;
        text-align: left;

        p {
          margin: 0 30px .5em 130px;
        }

        .hexagon {
          width: 104px;
          height: 90px;
          margin-top: -.5em;
          float: left;
          margin-left: 10px;

          & > div > div:before {
            margin-top: -.5em;
            height: 104px;
            line-height: 104px;
          }
        }
      }
    }

    .logos .columns {
      text-align: center;
      margin-bottom: $default-margin;
      line-height: 45px;

      a {
        display: inline-block;
        margin-right: 2em;
        background: transparent url('/images/sprites.png') no-repeat;
        text-indent: -3000px;
        overflow: hidden;
        text-decoration: none;
        vertical-align: middle;

        &.savvior {
          width: 77px;
          height: 17px;
          background-position: 0 -184px;
        }

        &.manifest {
          width: 95px;
          height: 30px;
          background-position: -80px -170px;
        }

        &.ids {
          width: 50px;
          height: 45px;
          background-position: -180px -170px;
        }

        &.explicatis {
          width: 115px;
          height: 21px;
          background-position: -230px -170px;
        }

        &.colorgate {
          width: 145px;
          height: 20px;
          background-position: -349px -170px;
        }

        &.biber {
          width: 85px;
          height: 30px;
          background-position: -500px -170px;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  .footer {
    background: #575656;
    padding: $default-margin 0;

    p {
      color: white;
    }

    h3 {
      font-size: 100%;
      font-weight: normal;
      color: #1aaec0;
      margin: 0;
    }

    ul {
      padding: 0;
      margin: 0;

      li {
        list-style: none;
        margin: 0;
        padding: 0;
        line-height: 130%;
      }

      &.social {
        padding-top: 1rem;

        li {
          display: inline-block;
          margin-right: .5rem;

          a {
            display: inline-block;
            text-indent: -3000px;
            text-decoration: none;
            overflow: hidden;
            height: 25px;
            background: transparent url('/images/sprites.png') no-repeat;
            margin-right: 1em;
          }

          a.twitter {
            background-position: -420px -220px;
            width: 24px;
          }

          a.facebook {
            background-position: -450px -220px;
            width: 15px;
          }

          a.google {
            background-position: -470px -220px;
            width: 25px;
          }
        }
      }
    }

    .payment-logos {
      padding-top: $default-margin;
      text-align: right;

      * {
        display: inline-block;
        text-indent: -3000px;
        text-decoration: none;
        overflow: hidden;
        background: transparent url('/images/sprites.png') no-repeat;
        margin-right: 1em;
        line-height: 52px;
        vertical-align: middle;
      }

      .braintree {
        width: 110px;
        height: 26px;
        background-position: -140px -220px;
      }
      .paypal {
        width: 102px;
        height: 30px;
        background-position: -250px -220px;
      }
      .paypal-verified {
        width: 52px;
        height: 52px;
        background-position: -360px -220px;
      }
    }

    a {
      color: white;

      &:hover {
        color: #d377e1;
      }
    }

    .copyright {
      margin-top: $default-margin;
      padding-top: $default-margin;
      border-top: 1px solid #bcbcbc;
      text-align: center;

      p {
        margin: 0;
        line-height: 120%;
      }

      span.logo {
        display: inline-block;
        text-indent: -3000px;
        text-decoration: none;
        overflow: hidden;
        width: 140px;
        height: 40px;
        margin-bottom: 1rem;
        background: transparent url('/images/sprites.png') no-repeat;
        background-position: 0 -220px;
      }
    }
  }
}
